/*profile*/
.profile-content {
    width: 27vw;
    height: 35vw;
    background: rgba(150, 150, 150, 0.3);
    margin: 5rem auto;
    padding-top: 2px;
}
.profile-pic {
    /*border: 1px solid black;*/
    background: rgba(150, 150, 150, 0.9);
    width: 59%;
    height: 45%;
    margin: 10% 0 0 20%;
    border-radius: 50%;
}